/* General */

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    background: white;
}

/* Navbar */
#navbar-container {
	position: fixed;
	display: inline-block;
	background: #3C869E;
	width: 100%;
	height: 50px;
	z-index: 100;
}

#navbar ul {
	position: absolute;
	padding: 0px;
	margin: 0px;
	top: calc(50% - 9.5px);
	left: calc(50% - 185.75px);
}

#navbar li {
	display: inline-block;
	color: white;
	margin-right: 60px;
	margin-left: 60px;
}

#navbar li:hover {
	opacity: 0.6;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

/** Center slide */
#center-container {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 600px;
}

#center-image1 { /* Chance this image */
	position: absolute;
	background-image: url('UCBerkeleyCampus.jpg');
	background-size: 100%;
	height: 100%;
	width: 100%;
	z-index: 5;
}

#center-image2 { /* Chance this image */
	position: absolute;
	background-image: url('friends.jpg');
	background-size: 100%;
	height: 100%;
	width: 100%;
	z-index: 5;
}

#center-image3 { /* Chance this image */
	position: absolute;
	background-image: url('son.jpg');
	background-size: 100%;
	height: 100%;
	width: 100%;
	z-index: 5;
}

#center-image-overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	z-index: 10;
}

#center-caption1 { /* Change this font */
	position: absolute;
	text-align: center;
    width: 500px;
    height: 125px;
    top: calc(50% - 62.5px);
	left: calc(50% - 250px);
    color: white;
    font-weight: bold;
    font-size: 100px;
    z-index: 15;
}

#center-caption2 { /* Change this font */
	position: absolute;
	text-align: center;
    width: 500px;
    height: 125px;
    top: calc(50% - 62.5px);
	left: calc(50% - 250px);
    color: white;
    font-weight: bold;
    font-size: 100px;
    z-index: 15;
}

#center-caption3 { /* Change this font */
	position: absolute;
	text-align: center;
    width: 500px;
    height: 125px;
    top: calc(50% - 62.5px);
	left: calc(50% - 250px);
    color: white;
    font-weight: bold;
    font-size: 100px;
    z-index: 15;
}

#left-arrow-container {
	position: absolute;
	height: 50;
	width: 50;
	padding-top: 300px;
	padding-bottom: 300px;
	margin: -25 0 0 0;
	z-index: 15;
}

#left-arrow { /* Change pic */
	background: url('left-arrow.png');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

#left-arrow-container:hover {
	opacity: 0.6;
	cursor: pointer;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

#right-arrow-container {
	position: absolute;
	height: 50;
	width: 50;
	right: 0;
	padding-top: 300px;
	padding-bottom: 300px;
	margin: -25 0 0 0;
	z-index: 15;
}

#right-arrow { /* Change pic */
	background: url('right-arrow.png');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

#right-arrow-container:hover {
	opacity: 0.6;
	cursor: pointer;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

/* Main text */
#main-container {
	position: relative;
	display: inline-block;
	text-align: center;
	margin-top: 10px;
	width: 100%;
	height: 800px;
	z-index: 50;
}

#main-text-header1 {
	position: absolute;
	text-align: center;
	width: 800px;
	height: 70px;
	left: 50%;
	margin: 20 0 0 -400;
	font-size: 30px;
	font-weight: bold;
}

#main-text-header2 {
	position: absolute;
	text-align: center;
	width: 800px;
	height: 70px;
	left: 50%;
	margin: 20 0 0 -400;
	font-size: 30px;
	font-weight: bold;
}

#main-text-header3 {
	position: absolute;
	text-align: center;
	width: 800px;
	height: 70px;
	left: 50%;
	margin: 20 0 0 -400;
	font-size: 30px;
	font-weight: bold;
}

#main-text1 {
	position: absolute;
	width: 700px;
	height: 740px;
	left: 50%;
	margin: 90 0 0 -350;
}

#main-text2 {
	position: absolute;
	width: 700px;
	height: 740px;
	left: 50%;
	margin: 90 0 0 -350;
}

#main-text3 {
	position: absolute;
	width: 700px;
	height: 740px;
	left: 50%;
	margin: 90 0 0 -350;
}

/* Footer */
#footer-container {
	position: absolute;
	width: 100%;
	height: 250px;
	margin-bottom: 0;
	background-color: #3C869E;
}

#name-motto-container {
    position: absolute;
    text-align: center;
    width: 450px;
    height: 125px;
    top: 17%;
    left: 50%;
    margin: 0 0 0 -225px;
    z-index: 15;
}

#motto {
    color: white;
    font-size: 26px;
    font-family: 'Bad Script', cursive;
}

#icon-section {
	position: absolute;
	height: 32;
	width: 500px;
	top: 50%;
	left: 50%;
	margin: 0 0 0 -250px;
	z-index: 15;
}

#icon-section li {
	display: inline-block;
}

#icon-section ul {
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.icon-container {
	width: 32px;
	height: 32px;
}

#email {
	background-image: url("email.png");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

#linkedin {
	background-image: url("linkedin.png");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

#github {
	background-image: url("github.png");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

#facebook {
	background-image: url("facebook.png");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

#instagram {
	background-image: url("instagram.png");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

.icon-container:hover {
	opacity: 0.4;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

/** JQuery manipulation */
.active {
	display: block;
}

.inactive {
	display: none;
}
